*{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.example-spacer {
    flex: 1 1 auto;
  }
.aline{
    display: flex;
}
.logo-border{
    display: flex;
    border-radius: 0px 17px 17px 0px;
    background:  #e35b67;
    width: 30px;

    height: 45px;
    margin: 10px;
}
.logo-border .logo-white-bor{
    border-radius: 0px 20px 20px 0px;
    background-color: none;
    background: #F7F8FA;
    height: 45px;
    width: 20px;
    margin-right: -10px;
}
.title{
    font-size: 30px;
    font-weight: 800;
    margin: 10px;
}
.header .btn-red{
    height: 50px;
    border:1px solid  #e35b67;
    color: #e35b67;
    margin: 2%;
    padding:0px 20px;
}
.text-bold{
    font-weight: 800;
}
.search {
    display: flex;
    padding: 1.5% 0% 0% 2% ;
}
 .input-icons mat-icon {
    position: absolute;
}
  
.input-icons {
    width: fit-content;
    margin-bottom: 10px;
}
.edit-vendor-btn{
    padding: 0px 15px;
    height: 45px;
    margin: 2% 3% 1% 0%;
    color: #2699fb;
    border: #2699fb solid 2px;
}
.location-icon{
    color: #2699fb;
}
.icon {
    padding: 10px;
    min-width: 40px;
}
.location-container{
    display: flex;
}
.input-field {
    border-radius: 5px;
    width: 140%;
    padding: 15px 40px;
    text-align: left;
    background-color: none;
    background:none ;
    border: none;
    box-shadow: 2px 2px 8px #888888;
}
.card-container{
    margin:0px 1.5%;
}

.card {
    width: 23.7%;
    background-color: none;
    border: none;
    margin-right: 1%;
    margin-bottom: 2%;
    background: none;
    box-shadow: none;
    float: left;
    padding: 0px;
  }
  .card  img{
    width: 100%;
    height: 200px;
    object-fit: cover; 
    
  }
  .card .title {
      text-align: left;
      font-weight: 800;
      font-size: 18px;
  }








.box select {
    
    margin:0px 180%  ;
    background-color:   #e35b67;
    color: white;
    padding: 15px;
    width: 110px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }
  .menu-title {
      margin:  20px ;
      font-weight: 700;
  }
  .content-text{
      width: 70%;
      margin: 20px;
  }
  .flex{
      display: flex;
  }
  app-item {
      margin: 10px;
  }
.card-container{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
  .card {
    background-color: none;
    border: none;
    margin: 10px;
    margin-bottom: 2%;
    background: none;
    box-shadow: none;
    float: left;
    padding: 0px;
  }
 
.location-not-found{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30%;
    margin: auto;
    height: 30%;
    font-weight: 800;
}
.location-not-found img {
    width: 30%;
    height: 30%;
    object-fit: contain;
}
  @media screen and (max-width: 600px) {
    .hearder-tab{
      display: flex; 
      justify-content: space-between;
    }
    .header {
        display: block;
    }
   
    .input-field {
        width: 50%;
    }
   
    .box select {
        margin:0px   ; 
    }
    .title{
        font-size: 20px;
        font-weight: 800;
        margin: 10px;
    }
    .header .btn-red{

    }    
}