<section class="menu-section">
  <p class="title">What's on the menu ?</p>
<div class="grid">
  <div class="card" *ngFor="let item of [1,1,1,1]">
    <div class="card-image" >
      <p>Comfort food</p>
    </div>
    <p class="content">Classic, comforting dishes that always hit the spot.</p>
     <a href=""></a>
  </div>
</div>
<div class="grid2">
  <div class="card" *ngFor="let item of [1,1]">
    <div class="card-image">
      <p>Comfort food</p>
    </div>
    <p class="content">Classic, comforting dishes that always hit the spot.</p>
     <a href=""></a>
  </div>
</div>
  </section>
