.menu-section{
  padding: 3% 15%;
}
.title{
  font-size: 40px;
  font-weight: 900;
  margin: 5% 0px;
}
.card-image{
  height: 250px;
  width: 100%;
  text-align: center;
  display: grid;
  justify-self: center;
  align-self:center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: white;
  font-size: 50px;
  font-weight: 900;
  background-repeat: no-repeat;
  background-image: url('./../../../../assets/image/food1.jpg');
  background-size: 100%;
}

.content{
font-size: 20px;
color: rgba(0, 0, 0, 0.705);
margin:10px 20px 40px 0px;
}
.grid{
  display: grid;
  grid-template-columns: 40% 55%;
  grid-gap: 2%;
}

.grid2{
  display: grid;
  grid-template-columns: 55% 40% ;
  grid-gap: 2%;
}

.slider{

  overflow-x: hidden;
  overflow-x: auto;
}

@media (max-width: 500px) {
  .title{
    font-size: 20px;
    font-weight: 900;
    margin: 5% 0px;
  }
  .menu-section{
    padding: 3% 5%;
  }
  .grid{
    display: block;
  }
  .grid2{
    display: block;
  }
  .card-image{
    height: 250px;
    width: 100%;
    font-size: 15px;
  }
  .content{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.705);
    margin:5px 0px 20px 5px;
    }
}
