*{
    padding: 0px;
    margin: 0px;
}
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    justify-items: center;
    margin: 10%;
}

.title{
   text-align: center;
   font-size: 25px;
   font-weight: 800;
   margin: 20px 0px 10px 0px;
}
button {

    margin: 10px 5px;
}