header{

  background-color: #F7F7F7;
}
.top-btn{
  padding: 3%;
  text-align: right;
  background-color: #F7F7F7
}
.title{
  color: #E35B67;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 5%;
}
.margin-left{
  margin-left: 10px;
}
.red-text {
  color: #E35B67;
}
.red-boarder{
  border:1px solid #E35B67;
}
.red-bg{
  background-color: #E35B67;
}
.sub-title{
  font-size: 40px;
  font-weight: 900;
}
.text-continer{
  width: 50%;
  margin: 1% 0% 5% 0%  ;
  color: rgba(0, 0, 0, 0.521);
}
.grid-two{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #F7F7F7;
  height: fit-content;
  padding:0% 12%;
}
.side-image{
  height: 500px;
  width: 600px;
  background-color:#F7F7F7;
  object-fit: contain;
}
.form-card{
  width: fit-content;
  background-color: #E35B67

}
.input{
  background-color: #F7F7F7;
  border: rgba(0, 0, 0, 0.233) 2px solid;
  padding: 12px;
  border-radius: 5px;
  margin-right: 10px;
  width: 55%;
}
.footer-image{
  height: 200px;
  width: 100%;
  background-color: blue;
}
.buttom-img{
  position: relative;
  bottom: 0px;
  left: 0px;
  height: 130px;
  width: 30%;
  border-radius: 0px 50px 0px 0px ;
  border-right: 30px salmon solid;
  /* background-image: url('../../../../assets/image/food1.jpg'); */
}









@media (max-width: 500px) {

  .grid-two{
    display: block;
  }
  .side-image{
    display: none;
  }
  .text-continer{
    margin-bottom:20% ;
  width: 100%;
  }
  .sub-title{
    margin-top: 10%;
    font-size: 20px;
  }
  .title{
    margin-top: 10%;
    font-size: 30px;
  }
  .input{
    margin-bottom: 10%;
  }
  .buttom-img{
    display: none;
  }
}
