<header>
  <div class="top-btn">
    <button mat-stroked-button color="warn"
    (click)="login()"
    class="red-text red-boarder ">Sign in</button>
    <button mat-flat-button color="warn"
    (click)="reg()"
    class="red-bg margin-left">Sign up</button>
  </div>
  <div class="grid-two">
    <div>
      <h1 class="title">Hungry?</h1>
      <p class="sub-title">Food is ready</p>
      <p class="text-continer">Lorem ipsum dol or sit amet consectetur
        ipsum dol or sit amet consectetur
         adipisicing elit. Non, explicabo?
         adipisicing elit. Non, explicabo?</p>

         <!-- <mat-card class="form-card"> -->
          <input class="input" placeholder="Enter your full address">
          <button mat-flat-button color="warn" class="red-bg">Search</button>
         <!-- </mat-card> -->
    </div>
    <img src="assets/image/logo.jpeg"  class="side-image" alt="">
  </div>
<!-- <div class="buttom-img"></div> -->
  <!-- <img class="footer-image" src="" alt=""> -->
</header>
