<section class="manu-container"  >
  <img src="../../../assets/image/download.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="overlay-text">

      <p class="title">Download</p>
      <button class="btn-white" mat-stroked-button >
        <mat-icon aria-hidden="false"
        aria-label="Example home icon" >shop</mat-icon>
         Google play </button>

        <button mat-stroked-button  class="btn-white" >
          <mat-icon aria-hidden="false"
          aria-label="Example home icon">apple</mat-icon>
          Apple store</button>
    </div>
          </div>
</section>
