
      
   <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
  
    <mat-form-field appearance="outline">
      <mat-label>Email </mat-label>
      <input matInput placeholder="Email" formControlName = 'email'>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName = 'password'>
    </mat-form-field> 
   
    
    <button mat-flat-button [disabled]="userForm.invalid" color="warn">Submit</button>
   </form>