<app-user-nav-pane></app-user-nav-pane>
<nav class="nav-flex-container">
    <div *ngIf="showMenu" class="menu">
        <ul *ngIf="topMenu" class="menu-wrapper">
            <li *ngFor="let menu of topMenu">
               <p
          class="menu-item"
          routerLink="/{{ menu.link }}"
          routerLinkActive="active-route">
        <span class="selected"></span>
          <mat-icon class="menu-icon">{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </p>
            </li>
        </ul>
    </div>
    <div *ngIf="showMenu" class="menu">
        <ul  class="menu-wrapper">
            <li  (click)="logout()">
                <p
          class="menu-item"
        
        >
        <span class="selected"></span>
          <mat-icon class="menu-icon">logout</mat-icon>
          <span>logout</span>
        </p>
            </li>
        </ul>
    </div>
</nav>