<div class="nav-flex-container">
    <div class="misc"><button class="invoice-button">GENERATE INVOICE</button></div>
    <div *ngFor="let menuSet of menu">
        <div class="menu-item-label">{{menuSet.label}}</div>
        
        <div routerLink="{{menuSet.label | custom_lowerCaseFirst}}/{{menuItem | custom_removeWhiteSpace | custom_lowerCaseFirst}}" routerLinkActive="active-route" class="menu-item" *ngFor="let menuItem of menuSet.items">
            <span class="menu-icon-holder">
                <img src="assets/img/icons/{{menuSet.label}}{{menuItem | custom_removeWhiteSpace}}.svg">
            </span>
            <span class="menu-item-option">{{menuItem}}</span>
        </div>
    </div>

  </div>