<app-user-nav-pane></app-user-nav-pane>
<nav class="nav-flex-container">
    <div *ngIf="showMenu" class="menu">
        <ul *ngIf="topMenu" class="menu-wrapper">
            <li *ngFor="let menu of topMenu">
                <p
          class="menu-item"
          href=""
          routerLink="/{{ menu.link }}"
          routerLinkActive="active-route"
         
        >
        <span class="selected"></span>
          <mat-icon class="menu-icon">{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </p>
            </li>
        </ul>
    </div>
    <div *ngIf="showMenu" class="menu">
        <ul *ngIf="bottomMenu && bottomMenu.length" class="menu-wrapper">
            <li *ngFor="let menu of bottomMenu">
                <p
          class="menu-item"
          href=""
          routerLink="/{{ menu.link }}"
          routerLinkActive="active-route"
         
        >
        <span class="selected"></span>
          <mat-icon class="menu-icon">{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </p>
            </li>
        </ul>
    </div>
</nav>