<div class="header">
    <p>
        Review
    </p>
</div>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="../../../assets/img/foodimages/food2.jpg">
    <mat-card-title>ero osamuyi</mat-card-title> 
  </mat-card-header> 
    <mat-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, perferendis?
    </mat-card-content>
</mat-card>
<div class="footer">
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
       
      </mat-form-field>
    <button mat-flat-button color="warn">
        <mat-icon>send</mat-icon>
    </button>
</div>