<mat-list class="header">
  <mat-list-item>
     <p>
        Review
    </p>
  </mat-list-item>
   
</mat-list>
<div >
  
<ng-container *ngFor="let item of rating">
<mat-card>
  <mat-card-header>
 
    <img  mat-card-avatar src="../../../../assets/img/icons/user.png" alt="" />
    <mat-card-title> {{item.user_id}}</mat-card-title> 
    <mat-card-subtitle>{{item.comment}}</mat-card-subtitle>
  </mat-card-header> 
    <!-- <mat-card-content>
      {{item.comment}}
    </mat-card-content> -->
</mat-card>
</ng-container>
<!-- <div class="footer">
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
       
      </mat-form-field>
    <button mat-flat-button color="warn">
        <mat-icon>send</mat-icon>
    </button>
</div> -->
</div>