<div class="flex flex-spacebetween">
  <div class="search">
    <div class="input-icons">
      <mat-icon class="fa fa-user icon">search</mat-icon>
      <input class="input-field" placeholder="Search" type="text" />
    </div>
    <div class="box">
      <select>
        <option>Filler bt</option>
      </select>
    </div>
  </div>
</div>

<div class="container">
  <div class="card" *ngFor="let item of orders">
    <img src="../../../assets/img/foodimages/food1.jpg" alt="" srcset="" />
    <p
      class="text-bold mt-2"
      *ngFor="let it of item.order_item; let i = index"
      [attr.data-index]="i"
    >
      <span *ngIf="i == 0">{{ it.item.vendor.name }}</span>
    </p>
    <p>{{ item.created_at }}</p>
    <p class="text-bold mt-2">Tea</p>
    <p class="address">497 Evergreen Rd. Roseville, CA 95673</p>
    <br />
    <div *ngFor="let it of item.order_item">
      <p class="text-bold">{{ it.item.name }}</p>
      <p>{{ it.quantity }}</p>
    </div>

    <div class="mt-2">
      <p class="text-bold">Subtotal</p>
      <p>{{ item.total_amount + item.delivery_charge }}</p>
    </div>
    <div>
      <p class="text-bold">Delivery</p>
      <p>{{ item.delivery_charge }}</p>
    </div>
    <div>
      <p class="text-bold">Total</p>
      <p>{{ item.total_amount }}</p>
    </div>
    <button mat-flat-button color="primary">Reorder</button>
  </div>
</div>
