section {
  padding: 5% 10%;
}
.title{
  font-weight: 900;
  font-size: 40px;
  margin: 5px 0px 3% 0px;
}

.category{
  font-size: 30px;
  font-weight: 900;
  float: left;
  margin-right: 3%;
  background: #e35b6611;
  padding: 15px;
}
@media (max-width: 500px) {
  section {
    padding: 5% 10%;
    height: 50%;
  }
  .title{
    font-weight: 900;
    font-size: 20px;
    margin: 5px 0px 3% 0px;
  }

}
