<div class="main-container">
  
<h2>Account Settings</h2>
<p class="text-muted">This is your private area. Please keep your information up to date.</p>
<br>
<h2>Personal information</h2>
<ng-container *ngIf="!isVendor">
  
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div >
    
<mat-form-field appearance="outline" class="long-input">
    <mat-label>First name</mat-label>
    <input matInput  formControlName = "first_name" placeholder="Placeholder">
  </mat-form-field>
  
</div>
  <mat-form-field appearance="outline" class="long-input">
    <mat-label>last name</mat-label>
    <input matInput  formControlName = "last_name" placeholder="Placeholder">
  </mat-form-field>
  
  <br>
  <h2>Contact Details</h2>
  <mat-form-field appearance="outline" class="long-input">
    <mat-label>Gmail</mat-label>
    <input matInput placeholder="Placeholder" formControlName = 'email'>
  </mat-form-field>
  <div>
   <mat-form-field appearance="outline" class="long-input">
    <mat-label>Phone </mat-label>
    <input matInput placeholder="Placeholder" formControlName = 'phone'>
  </mat-form-field>

  </div>
 <h2>Newsletter</h2>
 <p class="text-muted">Receive orders and deals from Jumia Food</p>
 <br>
 <div>
     <mat-icon>check_circle</mat-icon>
     <span class="text-bold">Subscribe to Newsletter</span>
 </div>
 
 <button  mat-flat-button type="submit" color="primary"class="btn">Submit</button>
 
</form>

</ng-container>
<ng-container *ngIf="isVendor">

</ng-container>

</div>